@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
    font-family: 'Courier New', Courier, monospace;

    background-color: #110F18;
    color: #EDECEE;
}
h1{
    text-align: center;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 10px;
    width: 50%;
}
form{
    margin-bottom: 10px;
}